body
{
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Special Elite', cursive;
}

.heading
{
    background-color: pink ;
    color: white;
    font-size: 30px;
    padding: 10px;
    margin: -10px;
    box-shadow: 5px 5px 30px peachpuff;
}

span
{
    font-size: 18px;
    color: navy;
}

.copy_right_footer
{
    position: fixed;
    bottom: 0;
    background-color: lightgrey;
    width: 100%;
    font-size: 15px;
    text-align: center;
}

button
{
    margin-top: 30px;
    font-size: 30px;
    background-color: violet;
    color: white;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px palegoldenrod;
    background-color: black;
}